<section id="about-us" class="section-about">
  <div class="section-about-container container">
    <div class="section-about-wraper">
      <h2 class="section-about-title">About us</h2>
      <h3 class="section-about-subtitle">
        Our craftsmanship: creating unique handmade furniture
      </h3>
      <p class="section-about-text">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="section-about-list list">
        <li class="section-about-item">
          <h4 class="section-about-item-title">5+</h4>
          <p class="section-about-item-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="section-about-item">
          <h4 class="section-about-item-title">100%</h4>
          <p class="section-about-item-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="section-about-item">
          <h4 class="section-about-item-title">500+</h4>
          <p class="section-about-item-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>

    <picture class="section-about-img">
      <source
        media="(max-width: 767px)"
        srcset="./img/product-2-mob.jpg 1x, ./img/product-2-mob-2x.jpg 2x"
      />
      <source
        media="(max-width: 1439px)"
        srcset="./img/product-3-tab.jpg 1x, ./img/product-3-tab-2x.jpg 2x"
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/product-4-desktop.jpg    1x,
          ./img/product-4-desktop-2x.jpg 2x
        "
      />
      <img
        srcset="
          ./img/product-4-desktop.jpg    1x,
          ./img/product-4-desktop-2x.jpg 2x
        "
        src="./img/product-4-desktop.jpg"
        alt="sofa and flower"
        loading="lazy"
      />
    </picture>
  </div>
</section>
