<section class="bestsellers" id="bestsellers">
  <div class="container bestsellers-container">
    <h2 class="bestsellers-title">Bestsellers</h2>
    <ul class="bestsellers-list">
      <li class="bestsellers-list-item">
        <picture>
          <source
            srcset="
              ./img/product-9-desktop.jpg    1x,
              ./img/product-9-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/product-6-tab.jpg 1x, ./img/product-6-tab-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-4-mob.jpg 1x, ./img/product-4-mob-2x.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="./img/product-9-desktop.jpg"
            alt="The modern platform bed"
            loading="lazy"
            width="704"
          />
        </picture>
        <h3 class="bestsellers-name">The modern platform bed</h3>
        <p class="bestsellers-price">750$</p>
      </li>
      <li class="bestsellers-list-item">
        <picture>
          <source
            srcset="
              ./img/product-10-desktop.jpg    1x,
              ./img/product-10-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/product-7-tab.jpg 1x, ./img/product-7-tab-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-5-mob.jpg 1x, ./img/product-5-mob-2x.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="./img/product-10-desktop.jpg"
            alt="The Cozy Lounge Chair"
            loading="lazy"
            width="704"
          />
        </picture>
        <h3 class="bestsellers-name">The Cozy Lounge Chair</h3>
        <p class="bestsellers-price">230$</p>
      </li>
      <li class="bestsellers-list-item">
        <picture>
          <source
            srcset="
              ./img/product-11-desktop.jpg    1x,
              ./img/product-11-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/product-8-tab.jpg 1x, ./img/product-8-tab-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/product-6-mob.jpg 1x, ./img/product-6-mob-2x.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="./img/product-11-desktop.jpg"
            alt="The industrial accent chair"
            loading="lazy"
            width="704"
          />
        </picture>
        <h3 class="bestsellers-name">The industrial accent chair</h3>
        <p class="bestsellers-price">250$</p>
      </li>
      <li class="bestsellers-list-item">
        <picture>
          <source
            srcset="
              ./img/product-12-desktop.jpg    1x,
              ./img/product-12-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/product-9-tab.jpg 1x, ./img/product-9-tab-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <img
            src="./img/product-12-desktop.jpg"
            alt="The sleek stand"
            loading="lazy"
            width="704"
          />
        </picture>
        <h3 class="bestsellers-name">The sleek stand</h3>
        <p class="bestsellers-price">300$</p>
      </li>
      <li class="bestsellers-list-item">
        <picture>
          <source
            srcset="
              ./img/product-13-desktop.jpg    1x,
              ./img/product-13-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/product-10-tab.jpg 1x, ./img/product-10-tab-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <img
            src="./img/product-13-desktop.jpg"
            alt="The minimalist sofa"
            loading="lazy"
            width="704"
          />
        </picture>
        <h3 class="bestsellers-name">The minimalist sofa</h3>
        <p class="bestsellers-price">650$</p>
      </li>
    </ul>
  </div>
</section>
