<section class="bestsellers" id="bestsellers">
  <div class="container">
    <h2 class="bestsellers-title">Bestsellers</h2>
    <ul class="bestsellers-list">
      <li class="bestsellers-list-item">
        <picture>
          <source srcset="" media="(min-width: 320px)" />
          <source media="(min-width: 768px)" />
          <source media="(min-width: 1440px)" />
          <img src="" alt="Bestseller 1" loading="lazy" width="700" />
        </picture>
        <h3 class="bestsellers-name">The modern platform bed</h3>
        <p class="bestsellers-price">750$</p>
      </li>
      <li class="bestsellers-list-item">
        <picture>
          <source />
          <source />
          <source />
          <img src="" alt="Bestseller 2" loading="lazy" width="700" />
        </picture>
        <h3 class="bestsellers-name">The Cozy Lounge Chair</h3>
        <p class="bestsellers-price">230$</p>
      </li>
      <li class="bestsellers-list-item">
        <picture>
          <source />
          <source />
          <source />
          <img src="" alt="Bestseller 3" loading="lazy" width="700" />
        </picture>
        <h3 class="bestsellers-name">The industrial accent chair</h3>
        <p class="bestsellers-price">250$</p>
      </li>
      <li class="bestsellers-list-item">
        <picture>
          <source />
          <source />
          <source />
          <img src="" alt="Bestseller 5" loading="lazy" width="700" />
        </picture>
        <h3 class="bestsellers-name">The sleek stand</h3>
        <p class="bestsellers-price">300$</p>
      </li>
      <li class="bestsellers-list-item">
        <picture>
          <source />
          <source />
          <source />
          <img src="" alt="Bestseller 5" loading="lazy" width="700" />
        </picture>
        <h3 class="bestsellers-name">The minimalist sofa</h3>
        <p class="bestsellers-price">650$</p>
      </li>
    </ul>
  </div>
</section>
