<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer-conteiner">
      <div class="footer-logo">
        <a class="footer-logo-one list" href="./index.html"
          ><svg class="footer-logo-icon" width="100" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <div class="footer-icon-block">
          <a
            href="https://uk-ua.facebook.com/"
            class="footer-social"
            target="_blank"
            rel="noopener no-referrer"
          >
            <svg class="footer-social-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg> </a
          ><a
            href="https://www.instagram.com/"
            class="footer-social"
            target="_blank"
            rel="noopener no-referrer"
          >
            <svg class="footer-social-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg> </a
          ><a
            href="https://www.youtube.com/"
            class="footer-social"
            target="_blank"
            rel="noopener no-referrer"
          >
            <svg class="footer-social-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </div>
      </div>

      <nav class="footer-navigation">
        <ul class="footer-list list">
          <li class="footer-item">
            <a
              href="#about-us"
              class="footer-item-link"
              style="text-decoration: none"
              >About us</a
            >
          </li>
          <li class="footer-item">
            <a
              href="#products"
              class="footer-item-link"
              style="text-decoration: none"
              >Our products</a
            >
          </li>
          <li class="footer-item">
            <a
              href="#prices"
              class="footer-item-link"
              style="text-decoration: none"
              >Prices</a
            >
          </li>
          <li class="footer-item">
            <a
              href="#bestsellers"
              class="footer-item-link"
              style="text-decoration: none"
              >Bestsellers</a
            >
          </li>
          <li class="footer-item">
            <a
              href="#reviews"
              class="footer-item-link"
              style="text-decoration: none"
              >Reviews</a
            >
          </li>
        </ul>
      </nav>

      <address class="address">
        <div class="footer-adress">
          <a
            href="https://www.google.com/maps/search/Obolonsky+14+Kyiv"
            target="_blank"
            rel="noopener no-referrer"
            class="footer-adress-link"
            >Obolonsky Prospect, 14, Kyiv</a
          >
          <p class="footer-adress-schedule">Daily 10:00-21:00</p>
        </div>
        <ul class="contacts-list list">
          <li class="contacts-item">
            <a class="contacts-item-tel link" href="tel:+110001111111"
              >+380669384758</a
            >
          </li>
          <li class="contacts-item">
            <a class="contacts-item-tel link" href="tel:+110001111111"
              >+380679384758</a
            >
          </li>
        </ul>
        <a
          class="contacts-item-mail link mail"
          href="mailto:minimal.furniture@gmail.com"
          >minimal.furniture@gmail.com</a
        >
      </address>
      <p class="privacy-policy">
        By using this website, you agree to the
        <a
          href="#"
          target="_blank"
          rel="noopener no-referrer"
          class="privacy-policy-link"
          >Terms of Service</a
        >
        and
        <a
          href="#"
          target="_blank"
          rel="noopener no-referrer"
          class="privacy-policy-link"
          >Privacy Policy</a
        >
      </p>
    </div>
  </div>
</footer>
