<div class="gallery is-hidden" is-gallery>
  <div class="carousel">
    <ul>
      <li>
        <img
          srcset="
            ./img/product-5-galery-focus.jpg    1x,
            ./img/product-5-galery-focus-2x.jpg 2x
          "
          src="./img/product-5-galery-focus.jpg"
          alt="The modern platform bed"
        />
      </li>
      <li>
        <img
          srcset="
            ./img/product-6-galery-focus.jpg    1x,
            ./img/product-6-galery-focus-2x.jpg 2x
          "
          src="./img/product-6-galery-focus.jpg"
          alt="The Cozy Lounge Chair"
        />
      </li>
      <li>
        <img
          srcset="
            ./img/product-7-galery-focus.jpg    1x,
            ./img/product-7-galery-focus-2x.jpg 2x
          "
          src="./img/product-7-galery-focus.jpg"
          alt="The industrial accent chair"
        />
      </li>
      <li>
        <img
          srcset="
            ./img/product-8-galery-focus.jpg    1x,
            ./img/product-8-galery-focus-2x.jpg 2x
          "
          src="./img/product-8-galery-focus.jpg"
          alt="The sleek stand"
        />
      </li>
      <li>
        <img
          srcset="
            ./img/product-9-galery-focus.jpg    1x,
            ./img/product-9-galery-focus-2x.jpg 2x
          "
          src="../img/product-9-galery-focus.jpg"
          alt="The minimalist sofa"
        />
      </li>
      <li>
        <img
          srcset="
            ./img/product-10-galery-focus.jpg    1x,
            ./img/product-10-galery-focus-2x.jpg 2x
          "
          src="./img/product-10-galery-focus.jpg"
          alt=""
        />
      </li>
      <li>
        <img
          srcset="
            ./img/product-11-galery-focus.jpg    1x,
            ./img/product-11-galery-focus-2x.jpg 2x
          "
          src="./img/product-11-galery-focus.jpg"
          alt=""
        />
      </li>
      <li>
        <img
          srcset="
            ./img/product-12-galery-focus.jpg    1x,
            ./img/product-12-galery-focus-2x.jpg 2x
          "
          src="./img/product-12-galery-focus.jpg"
          alt=""
        />
      </li>
      <li>
        <img
          srcset="
            ./img/product-13-galery-focus.jpg    1x,
            ./img/product-13-galery-focus-2x.jpg 2x
          "
          src="./img/product-13-galery-focus.jpg"
          alt=""
        />
      </li>
    </ul>
    <button type="button" class="gallery-close-btn" gallery-close>
      <svg class="gallery-close-icon" width="40" height="40">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"
></script>
