<section class="hero">
  <div class="container hero-container">
    <div class="hero-first-box">
      <h1 class="hero-title text-focus-in">
        Modern and minimalist furniture for you
      </h1>
    </div>

    <div class="hero-second-box">
      <p class="hero-text">
        Add a touch of elegance to your space with handcrafted furniture pieces
      </p>
      <a href="#subscription" class="hero-subscribe shadow-drop-2-center"
        >Subscribe</a
      >
    </div>
  </div>
</section>
