<section class="section-price" id="prices">
  <div class="container price-container">
    <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>

    <ul class="section-price-list">
      <li class="section-price-item">
        <a href="#" class="section-price-title">Chairs</a>
        <span class="section-price-text">from 200&#8372;</span>
      </li>
      <li class="section-price-item">
        <a href="#" class="section-price-title">Tables</a>
        <span class="section-price-text">from 250&#8372;</span>
      </li>
      <li class="section-price-item">
        <a href="#" class="section-price-title">Dressers</a>
        <span class="section-price-text">from 300&#8372;</span>
      </li>
      <li class="section-price-item">
        <a href="#" class="section-price-title">Sofas</a>
        <span class="section-price-text">from 500&#8372;</span>
      </li>
    </ul>
  </div>
</section>
