<section class="section-price container" id="prices">
  <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>

  <ul class="section-price-list">
    <li class="section-price-item">
      <a href="#" class="section-price-title">Chairs</a>
      <p class="section-price-text">from 200&#8372;</p>
    </li>
    <li class="section-price-item">
      <a href="#" class="section-price-title">Tables</a>
      <p class="section-price-text">from 250&#8372;</p>
    </li>
    <li class="section-price-item">
      <a href="#" class="section-price-title">Dressers</a>
      <p class="section-price-text">from 300&#8372;</p>
    </li>
    <li class="section-price-item">
      <a href="#" class="section-price-title">Sofas</a>
      <p class="section-price-text">from 500&#8372;</p>
    </li>
  </ul>
</section>
