<section class="products" id="products">
    <div class="container products-container">
        <h2 class="products-title">Our products</h2>
        <ul class="products-list">
            <li class="products-list-item item-first">
                <picture class="products-img">
                    <source srcset="
              ./img/product-5-desktop.jpg    1x,
              ./img/product-5-desktop-2x.jpg 2x
            " media="(min-width: 1440px)" />
                    <source srcset="./img/product-4-tab.jpg 1x, ./img/product-4-tab-2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./img/product-3-mob.jpg 1x, ./img/product-3-mob-2x.jpg 2x"
                        media="(min-width: 320px)" />
                    <img src="./img/product-5-desktop.jpg" alt="table and flowers" loading="lazy" width="704" />
                </picture>
                <h3 class="products-name">Minimalist storage solutions</h3>
            </li>
            <li class="products-list-item item-second">
                <picture class="products-img">
                    <source srcset="
              ./img/product-6-desktop.jpg    1x,
              ./img/product-6-desktop-2x.jpg 2x
            " media="(min-width: 1440px)" />
                    <source srcset="./img/product-5-tab.jpg 1x, ./img/product-5-tab-2x.jpg 2x"
                        media="(min-width: 768px)" />

                    <img src="./img/product-6-desktop.jpg" alt="sofa and pillow" loading="lazy" width="704" />
                </picture>
                <h3 class="products-name">Handcrafted minimalist seating</h3>
            </li>
            <li class="products-list-item item-third">
                <picture class="products-img">
                    <source srcset="
              ./img/product-7-desktop.jpg    1x,
              ./img/product-7-desktop-2x.jpg 2x
            " media="(min-width: 1440px)" />

                    <img src="./img/product-7-desktop.jpg" alt="table and chairs" loading="lazy" width="704" />
                </picture>
                <h3 class="products-name">Sleek and simple tables</h3>
            </li>
            <li class="products-list-item item-fourth">
                <picture class="products-img">
                    <source srcset="
              ./img/product-8-desktop.jpg    1x,
              ./img/product-8-desktop-2x.jpg 2x
            " media="(min-width: 1440px)" />

                    <img src="./img/product-8-desktop.jpg" alt="chair" loading="lazy" width="704" />
                </picture>
                <h3 class="products-name">Minimalist seating for every space</h3>
            </li>
        </ul>
    </div>
</section>