<section id="products" class="our-products">
    <h2 class="products-title">OUR PRODUCTS</h2>
    <ul class="our-products-list list">
        <li class="our-products-item">
            <picture class="product-picture">
                <source srcset="./img/product-5-desktop.jpg 1x, ./img/product-5-desktop-2x.jpg 2x" width="312"
                media="(min-width: 1440px)"
                />
                <source srcset="./img/product-4-tab.jpg 1x, ./img/product-4-tab-2x.jpg 2x"
                media="(min-width: 768px)"
                />
                <source srcset="./img/product-3-mob.jpg 1x, ./img/product-3-mob-2x.jpg 2x"
                media="(min-width: 320px)"
                />
                <img 
                src="./img/product-3-tab.jpg" 
                alt="products"
                width="344"
                class="product-img"
                />
            </picture>
            <p class="products-subtitle">Minimalist storage solutions</p>
        </li>
        <li class="our-products-item-tab">
            <picture class="product-picture">
                <source srcset="./img/product-6-desktop.jpg 1x, ./img/product-6-desktop-2x.jpg 2x" width="312"
                media="(min-width: 1440px)"
                />
                <source srcset="./img/product-5-tab.jpg 1x, ./img/product-5-tab-2x.jpg 2x"
                media="(min-width: 768px)"
                />
                <img 
                src="./img/product-5-tab.jpg" 
                alt="products"
                width="344"
                class="product-img"
                />
            </picture>
            <p class="products-subtitle">Handcrafted minimalist seating</p>
        </li>
        <li class="our-products-item-jpg">
            <img 
            srcset="./img/product-7-desktop.jpg 1x, ./img/product-7-desktop-2x.jpg 2x"
            src="./img/product-7-desktop.jpg" 
            alt="products"
            width="312"
            height="300"
            class="product-img"
            />
            <p class="products-subtitle">Sleek and simple tables</p>
        </li>
        <li class="our-products-item-jpg">
            <img 
            srcset="./img/product-8-desktop.jpg 1x, ./img/product-8-desktop-2x.jpg 2x"
            src="./img/product-8-desktop.jpg" 
            alt="products"
            width="312"
            height="300"
            class="product-img"
            />
            <p class="products-subtitle">Minimalist seating for every space</p>
        </li>
    </ul>
</section>