<section class="subscription container">
    <div class="subscription-form">
        <h1 class="subscription-title" id="subscription">Newsletter</h1>
        <p class="subscription-text">Every week we will send you new designs and information about sales.</p>
        <form class="subscription-form-input">
            <div class="subscription-field">
                <input type="text" name="client-name" class="subscription-input" minlength="2" maxlength="16"
                    placeholder="Name" required />
            </div>
            <div class="subscription-field">
                <input type="email" name="client-email" class="subscription-input" placeholder="E-mail" required />
            </div>
            <div class="subscription-field-checkbox">
                <input type="checkbox" name="client-agreement" value="true" class="agreement-check visually-hidden"
                    id="client-agreement" />
                <label for="client-agreement" class="check-text">
                    <span class="check-terms">
                        <svg class="check-icon" width="13" height="13">
                            <use href="./img/icons.svg#icon-checkpoint"></use>
                        </svg>
                    </span> Agree to subscribe to the newsletter
                </label>
            </div>
            <button type="submit" class="send-btn">Send</button>
        </form>
        <img srcset="./img/product-7-mob.jpg 1x, ./img/product-7-mob-2x.jpg 2x" src="./img/product-7-mob.jpg"
            alt="Tea table and sofa" width="343" height="300" />
    </div>
</section>