@media screen and (min-width: 1440px) {
  .section-about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .section-about {
    background-color: var(--light-blue);
    padding-top: 64px;
  }
  .section-about-wraper {
    position: relative;
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .section-about {
    padding-bottom: 100px;
  }
  .section-about-wraper {
    background-color: var(--light-blue);
    padding: 36px 64px;
  }
}
.section-about-title {
  position: relative;
  color: var(--blue-font);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  padding-left: 50px;
  margin-bottom: 30px;
}
.section-about-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 1px;
  background-color: var(--blue-font);
}
.section-about-subtitle {
  color: var(--blue-font);
  font-size: 28px;
  line-height: 1.5; /* 150% */
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (max-width: 342px) {
  .section-about-subtitle {
    font-size: 22px;
  }
  .section-about-item-title {
    font-size: 40px;
  }
}
.section-about-text {
  color: var(--blue-font);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .section-about-list {
    display: flex;
    justify-content: space-between;
    gap: 33px;
  }
}
@media screen and (min-width: 768px) {
  .section-about-item {
    max-width: calc((100% - (33px * 2)) / 3);
  }
}
.section-about-item-title {
  color: var(--blue-font);
  text-align: center;
  font-size: 50px;
  line-height: 1.5; /* 150% */
  text-transform: uppercase;
  margin-bottom: 14px;
}
@media screen and (max-width: 342px) {
  .section-about-item-title {
    font-size: 40px;
  }
}
.section-about-item-text {
  color: var(--blue-font);
  text-align: center;
  font-size: 16px;
  line-height: 1.5; /* 150% */
}
@media screen and (max-width: 767px) {
  .section-about-list li:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-about-wraper {
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .section-about-wraper {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .section-about-wraper {
    padding: 36px 69px;
    max-width: 760px;
    height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .section-about-img {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1440px) {
  .section-about-img {
  }
  .section-about-item-title {
    margin-bottom: 20px;
  }
}
