address {
  font-style: normal;
}
.footer {
  background: var(--blue-font);
  padding-top: 36px;
  padding-bottom: 16px;
}

.footer-logo {
  display: flex;
  align-items: center;
  padding-bottom: 36px;
}

.footer-logo-one {
}

.footer-logo-icon {
  fill: var(--white);
}
.footer-social {
  margin-right: 16px;
}

.footer-social-icon {
  fill: var(--white);
}
.footer-navigation {
}
.footer-list {
  color: var(--white);
}
.footer-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-navigation {
  padding-bottom: 36px;
}

.address {
  color: var(--white);
  margin-bottom: 64px;
}
.footer-adress {
  margin-bottom: 36px;
}
.footer-adress-link {
  margin-bottom: 8px;
}
.contacts-item:not(:last-child) {
  margin-bottom: 8px;
}
.privacy-policy {
  text-align: center;
  color: #b6b6b6;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.1em;
}

.privacy-policy-link {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
  .footer-logo {
    position: relative;
  }
  .footer-navigation {
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateY(50%);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1350px;
  }
}
