address {
  font-style: normal;
}
.footer {
  background: var(--blue-font);
}
.container {
}
.footer-logo {
}
.logo {
}
.list {
}
.footer-logo-icon {
  fill: var(--white);
}
.fotter-social {
}
.footer-social-icon {
  fill: var(--white);
}
.footer-navigation {
}
.footer-list {
}
.footer-item {
}
.header-item-link {
}
.footer-item-link {
}
.address {
}
.footer-adress {
}
.footer-adress-link {
}
.footer-adress-schedule {
}
.contacts-list {
}
.contacts-item {
}
.link {
}
.privacy {
}
.policy {
}
