.no-scroll {
  overflow: hidden;
}

.mob-menu {
  overflow-y: scroll;
}

.header {
  padding-top: 28px;
  padding-bottom: 28px;
  background: var(--light-blue);
  z-index: 1;
}
.logo {
  fill: var(--blue-font);
}
.logo-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-icon:hover,
.logo-icon:focus {
  fill: var(--blue-focus);
}
.logo-icon:active {
  fill: var(--dark-grey);
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: none;
}
.menu-open-btn {
  border: none;
  background: var(--light-blue);
}
.header-icon-svg {
  stroke: var(--blue-font);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon-svg:hover,
.header-icon-svg:focus {
  stroke: var(--blue-focus);
}
.header-icon-svg:active {
  stroke: var(--dark-grey);
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: var(--white);
  transform: translateX(0%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 20px;
}
.mob-menu.is-hidden {
  transform: translateX(100%);
}
.header-mob-menu {
  display: flex;
  justify-content: center;
  margin-bottom: clamp(10px, 20vh, 122px);
  padding: 28px 15px;
  background: var(--light-blue);
}
.header-width {
  width: 373px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mob-logo-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-logo-icon:hover,
.mob-logo-icon:focus {
  fill: var(--blue-focus);
}
.mob-logo-icon:active {
  fill: var(--dark-grey);
}

.mob-close-btn {
  border: none;
  background: var(--light-blue);
}
.modal-icon {
  stroke: var(--blue-font);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon:hover,
.modal-icon:focus {
  stroke: var(--blue-focus);
}
.modal-icon:active {
  stroke: var(--dark-grey);
}
.mob-list {
  text-align: center;
}
.mob-item {
  position: relative;
}
.mob-item-link {
  position: relative;
  text-decoration: none;
  color: var(--blue-font);
  font-size: 16px;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.13, 0.82, 0.96, 0.45);
}
.mob-item-link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue-focus);
  transform: scaleX(0);
  transform-origin: center center;
  transition: transform 250ms cubic-bezier(0.13, 0.82, 0.96, 0.45);
}

.mob-item-link:hover::before,
.mob-item-link:active::before {
  transform: scaleX(1);
}
.mob-item-link:hover {
  color: var(--blue-focus);
}
.mob-item-link:active {
  color: var(--dark-grey);
}
.mob-item:not(:last-child) {
  margin-bottom: 17px;
}
@media screen and (min-width: 320px) and (max-width: 372px) {
  .header-mob-menu {
    min-width: 320px;
    margin-bottom: clamp(10px, 20vh, 122px);
    padding: 28px 15px;
  }
  .header-width {
    padding: 0;
  }
}
@media screen and (max-height: 509px) {
  .mob-menu .header-mob-menu {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
  body {
    font-size: 18px;
  }
  .logo-icon {
    width: 127px;
  }

  .mob-logo-icon {
    width: 126px;
  }
  .menu-open-btn {
    width: 40px;
    height: 40px;
  }
  .mob-close-btn {
    width: 40px;
    height: 40px;
  }
  .header-width {
    width: 734px;
  }
  .header-mob-menu {
    margin-bottom: clamp(10px, 21vh, 158px);
  }
}
.mob-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1350px;
  }
  .menu-open-btn {
    display: none;
  }
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .header-list {
    display: flex;
    gap: 30px;
  }

  .header-item {
    position: relative;
    transition: color 350ms cubic-bezier(0.13, 0.82, 0.96, 0.45);
  }
  .header-item-link {
    position: relative;
    text-decoration: none;
    color: var(--blue-font);
    font-size: 16px;
    line-height: 1.5;
  }
  .header-item-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--blue-focus);
    transform: scaleX(0);
    transform-origin: center center;
    transition: transform 250ms cubic-bezier(0.13, 0.82, 0.96, 0.45);
  }

  .header-item-link:hover::before,
  .header-item-link:focus::before,
  .header-item-link:active::before {
    transform: scaleX(1);
  }
  .header-item-link:hover {
    color: var(--blue-focus);
  }
  .header-item-link:active {
    color: var(--dark-grey);
  }
}
