.header {
  padding-top: 28px;
  padding-bottom: 28px;
  background: #f7faff;
  z-index: 1;
}
.logo {
  fill: var(--blue-font);
}
.logo-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-icon:hover,
.logo-icon:focus {
  fill: #7a7a7a;
}
.logo-icon:active {
  fill: #b6b6b6;
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: none;
}
.menu-open-btn {
  border: none;
  background: #f7faff;
}
.header-icon-svg {
  stroke: var(--blue-font);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon-svg:hover,
.header-icon-svg:focus {
  stroke: #7a7a7a;
}
.header-icon-svg:active {
  stroke: #b6b6b6;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateX(0%);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-hidden {
  transform: translateX(100%);
}
.backdrop {
  width: 100%;
  max-width: 373px;
  margin: 0 auto;
}
.header-mob-menu {
  margin-bottom: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 15px;
  background: #f7faff;
}
.mob-logo-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-logo-icon:hover,
.mob-logo-icon:focus {
  fill: #7a7a7a;
}
.mob-logo-icon:active {
  fill: #b6b6b6;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-close-btn {
  border: none;
  background: #f7faff;
}
.modal-icon {
  stroke: var(--blue-font);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon:hover,
.modal-icon:focus {
  stroke: #7a7a7a;
}
.modal-icon:active {
  stroke: #b6b6b6;
}
.mob-list {
  text-align: center;
}

.mob-item-link {
  transition: all 350ms cubic-bezier(0.13, 0.82, 0.96, 0.45),
    border-color 350ms cubic-bezier(0.13, 0.82, 0.96, 0.45);
  text-decoration: underline;
}
.mob-item-link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #7a7a7a;
  transform: scaleX(0);
  transform-origin: center center;
  transition: transform 350ms cubic-bezier(0.13, 0.82, 0.96, 0.45);
}
.mob-item-link:hover::before,
.mob-item-link:active::before {
  transform: scaleX(1);
}
.mob-item:hover .mob-item-link,
.mob-item:active .mob-item-link {
  color: #7a7a7a;
  border-bottom-color: #7a7a7a;
}

.mob-item-link:active {
  color: #d9d9d9;
}

.mob-item:not(:last-child) {
  margin-bottom: 17px;
}
.mob-item-link {
  color: var(--blue-font);
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
  body {
    font-size: 18px;
  }
  .logo-icon {
    width: 127px;
  }

  .mob-logo-icon {
    width: 126px;
  }
  .menu-open-btn {
    width: 40px;
    height: 40px;
  }
  .backdrop {
    width: 100%;
    max-width: 734px;
    margin: 0 auto;
  }
  .mob-close-btn {
    width: 40px;
    height: 40px;
  }
}
.mob-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1350px;
  }

  .menu-open-btn {
    display: none;
  }

  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .header-list {
    display: flex;
    gap: 30px;
  }

  .header-item {
    transition: color 350ms cubic-bezier(0.13, 0.82, 0.96, 0.45);
  }

  .header-item:hover,
  .header-item:active {
    color: #7a7a7a;
  }

  .header-item:active {
    color: #d9d9d9;
  }
}
