

.products-title {
    color: var(--blue-font);
        font-size: 28px;
        
        text-transform: uppercase;
       text-align: center;
       margin-bottom: 33px;
}

.products-list {
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-bottom: 64px;
}



.products-name {
    font-size: 16px;
    color: var(--blue-font);
        
        margin-top: 16px;    
}

.item-second {
    display: none;
}



.item-third {
    display: none;
}

.item-fourth {
    display: none;
}



@media screen and (min-width: 768px){
    .item-second{
        display: block;
    }
        .products-list {
            display: flex;
            flex-direction: row;
            gap: 16px;
        }   
}
@media screen and (min-width: 1440px){
    .products{
        padding-right: 60px;
        padding-left: 60px;
    }
    .products-container{
        max-width: 1320px;
    }
        .item-third {
            display: block;
        }
    
        .item-fourth {
            display: block;
        }
}