.subscription-form {
    padding: 64px 0;
}

.subscription-title {
    color: var(--blue-font, #0A224A);
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.subscription-input {
    width: 100%;
    height: 50px;
    padding: 11px 20px;
    border: 1px solid #B6B6B6;
    margin-bottom: 20px;
}

.subscription-input:hover,
.subscription-input:focus {
    border-color: #0A224A;
}

.subscription-input::placeholder {
    color: var(--grey, #D9D9D9);
    line-height: 1.5;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-input:hover::placeholder {
    color: #0A224A;
}

.subscription-text {
    color: #0A224A;
    line-height: 1.5;
    margin-bottom: 30px;
}

.send-btn {
    width: 100%;
    max-width: 224px;
    height: 50px;
    margin: 0 auto;
    background: #0A224A;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
    background-color: #061835;
}

.check-text {
    color: #7A7A7A;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.check-terms {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid var(--dark-grey, #B6B6B6);
    margin-right: 8px;
    fill: transparent;
}

.agreement-check:checked +.check-text .check-terms {
    border: none;
    background-color: #0A224A;
    fill: #FFFFFF;
}

.subscription-field-checkbox {
    margin-bottom: 32px;
}

@media screen and (min-width:320px) {
    .container {
        max-width: 373px;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 704px;
    }

    .subscription-form {
        padding: 100px 0;
    }

    .subscription-title {
        font-size: 32px;
        line-height: 1.4;
        text-align: start;
        margin-bottom: 30px;
    }

    .subscription-text {
        color: #0A224A;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
        max-width: 536px;
    }

    .subscription-input {
        max-width: 536px;
        font-size: 18px;
    }

    .check-text {
        font-size: 18px;
    }

    .subscription-field-checkbox {
        margin-bottom: 30px;
    }

    .send-btn {
        font-size: 18px;
        line-height: 1.33;
        margin-bottom: 64px;
    }

}

@media screen and (min-width:1320px) {
    .container {
        max-width: 1320px;
    }

    .subscription-form {
        padding: 100px 0 86px 0;
    }

    .subscription-title {
        margin-bottom: 31px;
    }

    .send-btn {
    height: 52px;
    margin-bottom: 0;
    }

    .subscription-form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}