.subscription {
  padding: 64px 0;
}

.subscription-form-text {
  margin-bottom: 30px;
}

.subscription-title {
  color: var(--blue-font);
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.subscription-input {
  width: 100%;
  height: 50px;
  padding: 11px 20px;
  border: 1px solid var(--grey);
  outline: transparent;
}

.subscription-field {
  margin-bottom: 20px;
  position: relative;
}

.subscription-input:focus {
  border-color: var(--blue-font);
}

.subscription-input::placeholder {
  color: var(--light-grey);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-input:focus:placeholder {
  color: var(--blue-font);
}

.subscription-input:valid:not(:placeholder-shown) {
  border: 1px solid var(--blue-font);
  color: var(--blue-font);
}

.subscription-input:invalid:not(:placeholder-shown) {
    border: 1px solid var(--red);
    color: var(--red);
}

.error-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--red);
  fill: transparent;
}

.subscription-input:invalid:not(:placeholder-shown)+.error-icon {
  fill: var(--red);
}

.subscription-text {
  margin-bottom: 30px;
}

.send-btn {
  width: 100%;
  max-width: 224px;
  height: 50px;
  margin: 0 auto;
  background: var(--blue-font);
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  background-color: var(--blue-focus);
}

.check-text {
  color: var(--dark-grey);
  display: flex;
  align-items: center;
}

.check-terms {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid var(--grey);
  margin-right: 8px;
  fill: transparent;
}

.agreement-check:checked + .check-text .check-terms {
  border: none;
  background-color: var(--blue-font);
  stroke: var(--white);
}

.subscription-field-checkbox {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .subscription {
      padding: 100px 0;
    }

    .subscription-form-text {
      margin-bottom: 64px;
    }
  
  .subscription-title {
    font-size: 32px;
    line-height: 1.4;
    text-align: start;
    margin-bottom: 30px;
  }

  .subscription-text {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 536px;
  }

  .subscription-input {
    max-width: 536px;
    font-size: 18px;
  }

  .check-text {
    font-size: 18px;
  }

  .subscription-field-checkbox {
    margin-bottom: 30px;
  }

  .send-btn {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .subscription-field {
    width: 536px;
  }
}

@media screen and (min-width: 1440px) {
  .subscription {
      padding-bottom: 86px;
  }
  
  .send-btn {
    height: 52px;
  }

  .subscription-form {
    width: 1126px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
  }

  .subscription-input {
    min-width: 536px;
  }

  .subscription-form-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 410px;
    margin-bottom: 0;
  }
}

